img {
  max-width: 120px;
  max-height: 140px;
}

.detailsCard {
  border: solid blue 2px;
}

.previewCard {
  border: solid pink 3px;
  max-width: 250px;
}

.listing-thumbnail {
  max-width: 150px;
  max-height: 150px;
  border: solid aqua 2px;
  font-size:x-small;
  margin: 15px;
}

.userCollection {
  display: flex;
  margin: 5px;
}

div.userCollection {
  background-color: salmon;
  overflow: auto;
  white-space: nowrap;
}

