@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 120px;
  max-height: 140px;
}

.detailsCard {
  border: solid blue 2px;
}

.previewCard {
  border: solid pink 3px;
  max-width: 250px;
}

.listing-thumbnail {
  max-width: 150px;
  max-height: 150px;
  border: solid aqua 2px;
  font-size:x-small;
  margin: 15px;
}

.userCollection {
  display: flex;
  margin: 5px;
}

div.userCollection {
  overflow: auto;
  white-space: nowrap;
}

.see-more-in-user-collections {
  text-align: right;
}

.collections-wrapper-in-user-collections {
  padding: 10px;
}

hr.rounded-divider-in-user-collections {
  border-top: 3px solid #bbb;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.listing-thumbnail-in-user-collections {
  max-width: 150px;
  max-height: 150px;
  border: solid aqua 2px;
  font-size:x-small;
  margin: 15px;
}

.thumbnail-text-in-user-collections {
  text-wrap: wrap;
}

.thumnail-grid-in-collections-detail {
  display: grid;
  grid-template-columns: 200px 200px;
}

.listing-thumbnail-in-collections-detail {
  max-width: 150px;
  max-height: 150px;
  border: solid aqua 2px;
  font-size:x-small;
  margin: 15px;
}

button {
  border: solid black 2px;
  padding: 3px;
  margin: 5px;
}